<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<p>Welcome To Pluto7 Angular Course</p>

<!-- app-test for class binding 
<app-test></app-test>-->

<!-- app-style-bind for style binding
<app-style-bind></app-style-bind> -->

<!-- app-event-bind for event binding 
<app-event-bind></app-event-bind> -->

<!-- app-tem-ref-var for template refernce variables 
<app-tem-ref-var></app-tem-ref-var> -->

<!-- app-ng-model for flow data from element to class properties to the HTML template  
<app-ng-model></app-ng-model> -->

<!-- app-ng-if for template refernce variables -->
<app-ng-if></app-ng-if> 

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
