<!DOCTYPE html>
<html>
    <body>
        <h2>  welcome {{name}} </h2>
        <h2 class="test-success">CodeEvaluation</h2>
        <h2 class="test-danger">CodeEvaluation</h2>
        <h2 class="test-special">CodeEvaluation</h2>
        <h2 [class]="successclass">CodeEvaluation</h2>
        <h2 class="test-special" [class]="successclass">CodeEvaluation</h2>
        <h2 [class.test-danger]="haserror">CodeEvaluation</h2>
        <h2 [ngClass]="message">CodeEvaluation</h2>
    </body>
  <style>
    .test-success {
      color: green;
    }    
    .test-danger {
      color: red;
    }
    .test-special {
      font-style: italic;
    }
  </style>
</html>